body {
  padding: 25px 25px 25px 45px;
  width: 850px;
}

h1 {
  font-size: 55px;
  margin: 0px 25px 0px 0px;
  line-height: 75px;
  font-weight: 100;
}

h3 {
  font-size: 20px;
  margin: 10px 25px 15px 0px;
  line-height: 25px;
  font-weight: 100;
}

a {
  color: cornflowerblue;
  margin: 0 5px 0 0px;
}

button {
  /* border: 1px solid black; */
  padding: 5px 17.5px;
  border-radius: 5px;
  cursor: pointer;
  /* background-color: cornflowerblue; */
  /* color: white; */
}